version: 2
updates:
  # 1. Maintain GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      actions:
        patterns:
          - "*"

  # 2. Maintain Rust (cargo)
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      rust-deps:
        patterns:
          - "*"
