# Palimpsest License — Git Attributes

# Normalize line endings
* text=auto eol=lf

# Treat AsciiDoc as text
*.adoc text

# Scheme files
*.scm text

# Rust
*.rs text

# License text should never be CRLF-normalized
legal/PALIMPSEST-MPL-1.0.txt text eol=lf

# Linguist overrides
*.scm linguist-language=Scheme
*.adoc linguist-language=AsciiDoc

# Prevent GitHub from interpreting Pages
.nojekyll export-ignore
